<footer class="footer-container" fxLayout="column">
  <nav fxLayout="row nowrap" fxLayoutAlign="center center">
    <a class="nav-item" routerLink="/contact">CONSULTATION</a>
    <div
      class="spacer"
      fxFlex.xs="10px"
      fxFlex.sm="10px"
      fxFlex.md="25px"
      fxFlex.lg="25px"
      fxFlex.xl="25px"
    ></div>
    <a fxFlex="200px" routerLink="/home">
      <img
        alt="Career Watch Image"
        fxFlex="200px"
        src="./../../../assets/CW_logo_white.png"
      />
    </a>
    <div
      class="spacer"
      fxFlex.xs="10px"
      fxFlex.sm="10px"
      fxFlex.md="25px"
      fxFlex.lg="25px"
      fxFlex.xl="25px"
    ></div>
    <a class="nav-item" routerLink="/contact">YOUTUBE</a>
  </nav>
  <!-- <div fxLayout="row nowrap" fxLayoutAlign="center center">
    {{ currentYear }} Career Watch
  </div> -->
</footer>
