@import './../../stylesheets/common.scss';

.header-container {
  padding: $spacing-setting-one 11%;
  nav {
    a:hover {
      text-decoration: underline;
    }
    .nav-item {
      color: black;
      text-decoration: none;
    }
    .router-link-active {
      text-decoration: underline;
    }
  }
}
