<div
  class="header-container"
  fxLayout="row nowrap"
  fxLayoutAlign="center center"
>
  <a
    class="logo-container"
    fxFlex.xs="200px"
    fxFlex.sm="200px"
    fxFlex.md="200px"
    fxFlex.lg="200px"
    fxFlex.xl="200px"
    routerLink="/home"
  >
    <img
      alt="Career Watch"
      class="logo-settings"
      src="./../../../assets/CW_logo_white.png"
      width="80%"
    />
  </a>
  <div fxFlex="grow"></div>
  <nav fxFlex="grow" fxLayout="row nowrap" fxLayoutAlign="flex-end">
    <a
      class="nav-item"
      routerLink="/home"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      >HOME</a
    >
    <a
      class="nav-item"
      routerLink="/videos"
      routerLinkActive="router-link-active"
      >VIDEOS</a
    >
    <!-- <a
      class="nav-item"
      routerLink="/store"
      routerLinkActive="router-link-active"
      >STORE</a
    > -->
    <a
      class="nav-item"
      routerLink="/contact"
      routerLinkActive="router-link-active"
      >CONTACT</a
    >
  </nav>
</div>
