@import './../../stylesheets/common.scss';

.header-container {
  padding-top: $spacing-setting-one;
  padding-bottom: $spacing-setting-one;
  nav {
    a:hover {
      text-decoration: underline;
    }
    .router-link-active {
      text-decoration: underline;
    }
  }
}
