<div
  class="header-container"
  fxLayout.xs="column wrap"
  fxLayout.sm="column wrap"
  fxLayout.md="row nowrap"
  fxLayout.lg="row nowrap"
  fxLayout.xl="row nowrap"
  fxLayoutAlign="center center"
>
  <div
    class="end-spacer"
    fxFlex.xs="70px"
    fxFlex.sm="90px"
    fxFlex.md="15%"
    fxFlex.lg="15%"
    fxFlex.xl="15%"
  ></div>
  <a
    fxFlex.xs="42.8px"
    fxFlex.sm="42.8px"
    fxFlex.md="200px"
    fxFlex.lg="200px"
    fxFlex.xl="200px"
    routerLink="/home"
  >
    <img
      alt="Career Watch"
      fxFlex.xs="200px"
      fxFlex.sm="200px"
      fxFlex.md="200px"
      fxFlex.lg="200px"
      fxFlex.xl="200px"
      src="./../../../assets/CW_logo_white.png"
    />
  </a>
  <div
    fxFlex.xs="10px"
    fxFlex.sm="10px"
    fxFlex.md="grow"
    fxFlex.lg="grow"
    fxFlex.xl="grow"
  ></div>
  <nav
    fxFlex="grow"
    fxLayout.xs="column wrap"
    fxLayout.sm="column wrap"
    fxLayout.md="row nowrap"
    fxLayout.lg="row nowrap"
    fxLayout.xl="row nowrap"
    fxLayoutAlign.xs="center center"
    fxLayoutAlign.sm="center center"
    fxLayoutAlign.md="flex-end"
    fxLayoutAlign.lg="flex-end"
    fxLayoutAlign.xl="flex-end"
  >
    <a
      class="nav-item"
      routerLink="/home"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      >HOME</a
    >
    <div
      class="spacer"
      fxFlex.xs="10px"
      fxFlex.sm="10px"
      fxFlex.md="25px"
      fxFlex.lg="25px"
      fxFlex.xl="25px"
    ></div>
    <a
      class="nav-item"
      routerLink="/videos"
      routerLinkActive="router-link-active"
      >VIDEOS</a
    >
    <div
      class="spacer"
      fxFlex.xs="10px"
      fxFlex.sm="10px"
      fxFlex.md="25px"
      fxFlex.lg="25px"
      fxFlex.xl="25px"
    ></div>
    <a
      class="nav-item"
      routerLink="/consultation"
      routerLinkActive="router-link-active"
      >CONSULTATION</a
    >
    <div
      class="spacer"
      fxFlex.xs="10px"
      fxFlex.sm="10px"
      fxFlex.md="25px"
      fxFlex.lg="25px"
      fxFlex.xl="25px"
    ></div>
    <a
      class="nav-item"
      routerLink="/contact"
      routerLinkActive="router-link-active"
      >CONTACT</a
    >
  </nav>
  <div
    class="end-spacer"
    fxFlex.xs="70px"
    fxFlex.sm="90px"
    fxFlex.md="15%"
    fxFlex.lg="15%"
    fxFlex.xl="15%"
  ></div>
</div>
