<div class="header-container">
  <a class="logo-container" href="/">
    <img
      alt="Career Watch"
      src="./../../../assets/CW_logo_white.png"
      width="100%"
    />
  </a>

  <nav>
    <a
      class="nav-item"
      href="https://www.youtube.com/channel/UCE1g7HCJl3732cOv8NC9sPg?view_as=subscriber"
      >VIDEOS</a
    >
    <a class="nav-item" href="/blog">BLOGS</a>
    <a class="nav-item" href="/store">STORIES</a>
    <a class="nav-item" href="/contact">CONTACT</a>
  </nav>
</div>
