@import './../../stylesheets/common.scss';

.header-container {
  padding: $spacing-setting-one 11%;
  .logo-container {
    .logo-settings {
      width: 252px;
      height: 45px;
    }
  }
  nav {
    a:hover {
      text-decoration: underline;
    }
    .nav-item {
      color: black;
      text-decoration: none;
      margin-left: 30px;
    }
    .router-link-active {
      text-decoration: underline;
    }
  }
}
