<div class="contact-form mat-elevation-z11" fxLayout="column">
  <div class="form-title" fxLayoutAlign="center center">Contact Us</div>
  <div class="sub-title" fxLayoutAlign="center center">
    Got a Question? Wd'd love to hear from you!
  </div>
  <div class="sub-title" fxLayoutAlign="center center">
    Send us a message and we'll respond as soon as possible
  </div>
  <form [formGroup]="contactForm" fxLayout="column">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
      >
        {{ getFirstNameError() }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        {{ getEmailError() }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message"></textarea>
      <mat-error
        *ngIf="message.invalid && (message.dirty || message.touched)"
      >
        {{ getMessageError() }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="submitContactForm()" color="primary">
      Send Message
    </button>
  </form>
</div>
