<div
  class="contact-form-container"
  fxLayout="row nowrap"
  fxLayoutAlign="center center"
>
  <div
    class="end-spacer"
    fxFlex.xs="70px"
    fxFlex.sm="90px"
    fxFlex.md="15%"
    fxFlex.lg="15%"
    fxFlex.xl="15%"
  ></div>
  <div class="contact-form mat-elevation-z11" fxLayout="column">
    <div class="form-title" fxLayoutAlign="center center">Contact Us</div>
    <div class="sub-title" fxLayoutAlign="center center">
      Got a Question? Wd'd love to hear from you!
    </div>
    <div class="sub-title" fxLayoutAlign="center center">
      Send us a message and we'll respond as soon as possible
    </div>
    <form [formGroup]="contactForm" fxLayout="column">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>
      <button mat-raised-button (click)="submitForm()" color="primary">
        Send Message
      </button>
    </form>
  </div>
  <div
    class="end-spacer"
    fxFlex.xs="70px"
    fxFlex.sm="90px"
    fxFlex.md="15%"
    fxFlex.lg="15%"
    fxFlex.xl="15%"
  ></div>
</div>
