<div class="home-container">
  <div class="image-container">
    <div class="image">
      <div class="row">
        <div class="spacer"></div>
        <div class="info">
          <div class="info-text">
            CAREER TRENDS
          </div>
          <div class="info-text">
            IN THE MODERN ERA
          </div>
          <button mat-raised-button class="youtube-button">
            WATCH THE LATEST VIDEO
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="youtube-videos-container">
    <div class="videos-title">LATEST VIDEOS</div>
    <div class="videos-container">
      <ng-container *ngIf="isLoading === false">
        <ng-container *ngFor="let video of currentVideos">
          <iframe
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            frameborder="0"
            height="315"
            width="560"
            [src]="video.link | safe"
          ></iframe>
        </ng-container>
      </ng-container>
      <mat-progress-spinner
        *ngIf="isLoading === true"
        color="primary"
        mode="indeterminate"
      >
      </mat-progress-spinner>
    </div>
  </div>
</div>
