<div class="home-container">
  <div class="image-container">
    <div class="image">
      <div class="row">
        <div class="spacer"></div>
        <div class="info">
          <div class="info-text">
            CAREER TRENDS
          </div>
          <div class="info-text">
            IN THE MODERN ERA
          </div>
          <button mat-raised-button class="youtube-button">
            WATCH THE LATEST VIDEO
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="youtube-videos-container">
    <div class="videos-title">LATESTS VIDEOS</div>
    <ng-container *ngFor="let video of currentVideos">
      <iframe
        width="560"
        height="315"
        [src]="video.link | safe"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </ng-container>
  </div>
</div>
